<form class="form insertPoint credentialform" action="/p/u/doAuthentication.do" method="POST">
    <div class="field CredentialTypenone">
        <div class="left">
            <h1><span id="login_title">Please log on (using Okta Verify instead of Symantec VIP from now on)</span></h1>
        </div>
    </div>
    <div class="field CredentialTypeusername">
        <div class="left"><label class="label plain" for="login">User name :</label></div>
        <div class="right"><input name="login" id="login" type="text" autocomplete="off" spellcheck="false"
                kl_vkbd_parsed="true"></div>
    </div>
    <div class="field CredentialTypepassword">
        <div class="left"><label class="label plain" for="passwd">Password :</label></div>
        <div class="right"><input name="passwd" id="passwd" type="password" autocomplete="off" spellcheck="false"
                kl_vkbd_parsed="true"></div>
    </div>
    <div class="field CredentialTypepassword">
        <div class="left"><label class="label plain" for="passwd1">Passcode :</label></div>
        <div class="right"><input name="passwd1" id="passwd1" type="password" autocomplete="off" spellcheck="false"
                kl_vkbd_parsed="true"></div>
    </div>
    <div class="field CredentialTypesavecredentials" style="display: none;">
        <div class="right checkbox"><input id="savecredentials" name="savecredentials" type="checkbox"
                value="savecredentials" kl_vkbd_parsed="true"><label for="savecredentials" class="label plain">Remember
                my credentials</label></div>
    </div>
    <div class="field buttonsrow">
        <div class="buttonscontainer right"><a id="nsg-x1-logon-button" href="#"
                class="button forms-authentication-button last-child default">Log On</a></div>
        <div class="spinner" style="visibility: hidden"><img src="receiver/images/common/authspinner.gif" alt=""></div>
    </div>
    <div class="field CredentialTypenone">
        <div class="left">
            <div>
                <div id="access_denied_title" class="main-text error _ctxstxt_errorMessageLabel4444">Incorrect user name
                    or password.</div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</form>