<form class="form insertPoint credentialform" action="/nf/auth/doAuthentication.do" method="POST">
    <div class="field CredentialTypenone">
        <div class="left"><label class="label plain">Please log on</label></div>
    </div>
    <div class="field CredentialTypeusername">
        <div class="left"><label class="label plain" for="login">User name:</label></div>
        <div class="right"><input name="login" id="login" type="text" autocomplete="off" spellcheck="false"
                kl_vkbd_parsed="true"></div>
    </div>
    <div class="field CredentialTypepassword">
        <div class="left"><label class="label plain" for="passwd">Password:</label></div>
        <div class="right"><input name="passwd" id="passwd" type="password" autocomplete="off" spellcheck="false"
                kl_vkbd_parsed="true"></div>
    </div>
    <div class="field CredentialTypepassword">
        <div class="left"><label class="label plain" for="passwd1">Passcode:</label></div>
        <div class="right"><input name="passwd1" id="passwd1" type="password" autocomplete="off" spellcheck="false"
                kl_vkbd_parsed="true"></div>
    </div>
    <div class="field CredentialTypesavecredentials" style="display: none;">
        <div class="right checkbox"><input id="savecredentials" name="savecredentials" type="checkbox"
                value="savecredentials" kl_vkbd_parsed="true"><label class="label plain" for="savecredentials">Remember
                my credentials</label></div>
    </div>
    <div class="field buttonsrow">
        <div class="buttonscontainer right"><a id="Logon" href="#"
                class="button forms-authentication-button last-child default">Submit</a></div>
        <div class="spinner" style="visibility: hidden"><img src="receiver/images/common/authspinner.gif" alt=""></div>
    </div>
    <div class="field CredentialTypenone">
        <div class="left">
            <p><span class="detail-text error">Try again or contact your help desk</span></p>
        </div>
    </div>
    <div class="spacer"></div>
</form>